{% extends 'base.html' %}
{% load static %}

{% block title %}Daftar Resep{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'reseps.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id = "gambar">
        <div class="container">
            <h1 class="display-4" id="judul">TAMBAH RESEP &#128071</h1>
            <p class="lead" id = "par">Tambah Resep Simpanan Mama Disini</p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{kategoris.namaKategori.label_tag}}
                </div>
                <div class="col-sm-10">
                    {{kategoris.namaKategori}}
                </div>
            </div>
            <input type = "submit" value = "Tambahkan" id = "submit">

        <br><br><br>
    
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nama Kategori</th>
            </tr>
        </thead>
        <tbody>
            {% for kat in kategori %}
            <tr>
                <th scope="row">{{kat.namaKategori}}</th>
                <td><a href="{% url 'reseppage:resep' resep_id=kat.id %}" class="btn">Lihat/Tambahkan Resep</a></td>
            </tr>
        </tbody>
        {% endfor %}
{% endblock content %}