{% extends 'base.html' %}
{% load static %}

{% block title %}Daftar Resep{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'resep.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id = "gambar">
        <div class="container">
            <h1 class="display-4" id="judul">DAFTAR RESEP &#128071</h1>
            <p class="lead" id = "par">Cari Resep Simpanan Mama Disini</p>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{form_resep.as_table}}
        </table>
        <button type="Submit" name="submit">Submit</button>
    
        <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nama Siswa</th>
        </tr>
        </thead>
        <tbody>
            {% for res in resep %}
            <tr>
                {% if res.kategori == kategori %}
                <th scope="row">{{res.namaResep}}</th>
                <th scope="row">{{res.url}}</th>
                {% endif %} 
            </tr>
        </tbody>
        {% endfor %}
{% endblock content %}