{% extends 'base.html' %}
{% load static %}

{% block title %}Daftar Resep{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'reseps.css' %}">
{% endblock additional_css %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id = "gambar">
        <div class="container">
            <h1 class="display-4" id="judul">TAMBAH RESEP &#128071</h1>
            <p class="lead" id = "par">Tambah Resep Simpanan Mama Disini</p>
        </div>
    </div>
    <form method = "POST">
        {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{form_resep.namaResep.label_tag}}
                </div>
                <div class="col-sm-10">
                    {{form_resep.namaResep}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{form_resep.url.label_tag}}
                </div>
                <div class="col-sm-10">
                    {{form_resep.url}}
                </div>
            </div>
        <input type = "submit" value = "Tambahkan" id = "submit">

        <br><br><br>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nama Resep</th>
                <th scope="col">Link</th>
              </tr>
              </thead>
              <tbody>
                  {% for res in resep %}
                  <tr>
                      {% if res.kategori == kategori %}
                        <td>{{res.namaResep}}</td>
                        <td><a href="{{res.url}}" target="_blank">{{res.url}}</a></td>
                      {% endif %} 
                  </tr>
              </tbody>
              {% endfor %}
    </form>
{% endblock content %}