form {
    margin: 1rem;
}

#gambar {
    background-image: url(cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
    width: 100%;
}

#judul {
    font-weight: bold;
    background: rgba(231, 174, 109, 0.5);
}

#par {
    font-weight: bold; 
    color:black;
}

.btn {
    color: #79521fe7;
}

a {
    color: #79521fe7;
}
