/* Project-wide style */

body {
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar.navbar-expand-lg.navbar-light {
    background-color: #555;
  }
  
  .navbar-brand {
    background-color: #f1c68de7; 
    border-radius: 100px;
  }

  
  
  
  
  
  
  
  